#=======================================================================================================================
#=========================================          gitignore的基础用法         =========================================
#=======================================================================================================================
#    .gitignore配置文件的一些通用技巧[参考:https://git-scm.com/docs/gitignore]
#    1. 空白行不匹配任何文件，所以可以作为可读性的分隔符，同时两端的空格将会被忽略。
#    2. 使用[#]开头，将会注释掉整行，使其不进行匹配操作，如果需要匹配#开头，可以使用转义字符[\]。
#    3.1 匹配模式以[/]结尾，表示想要匹配一个目录及其子文件。（比如[foo/]会匹配foo目录及其下面的路径）
#    3.2 匹配模式不包含[/]，将会全局匹配该文件。
#    4. 通配符
#    [*]: 匹配除[/]以外的任何内容，也就意味着[*]不能跨目录。
#    [?]: 匹配除[/]和[[]以及[]]以外的任何一个字符。
#    [**]: 匹配所有的内容，或者说匹配任意目录下的内容。
#      示例:
#        1. [**/foo/bar]将会匹配所有直接在foo目录下的bar，无论foo处在何处。
#        2. [foo/**]则表示匹配foo目录下的所有文件和目录。
#        3. [a/**/b]则可以匹配a/b，a/c/b，a/c/d/b，即此处的[**]可以表示0个或多个。
#        !!! 需要注意的是，除上面示例的用法外，剩余的[**]都是无效的。
#    5. 可以通过前缀[!]来表示不忽略某些文件，比如可以通过[!a]来确保文件a不会被忽略，即使前面已经声明了忽略其父目录，该模式优先级高于普
#    通忽略模式。
#=======================================================================================================================

.idea/